# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [2]:
a = 156
b = 156

value_equals = (a == b)
object_equals = (a is b)

print(f"Is the same value? {value_equals}")
print(f"Is the same object? {object_equals}")

Is the same value? True
Is the same object? True

так, посилання буде на один і той самий обʼєкт через оптимізацію Python, де Python автоматично буде використовувати вже існуючий об'єкт з  значенням(лише цілі  числа в діапазоні від -5 до 256), яке повторюється, замість того, щоб створювати новий об'єкт.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [3]:
is_bool = isinstance(33242, bool)
print(f"Is 33242 a bool? {is_bool}")

Is 33242 a bool? False

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [7]:
my_integer_value = 10
my_float_value = 3.3

addition = my_integer_value + my_float_value
subtraction = my_integer_value - my_float_value
multiplication = my_integer_value * my_float_value
division = my_integer_value / my_float_value
floor_division = my_integer_value // my_float_value
modulus = my_integer_value % my_float_value
exponentiation = my_integer_value ** my_float_value


print(f"Додавання: {addition}")
print(f"Віднімання: {subtraction}")
print(f"Множення: {multiplication}")
print(f"Ділення: {division}")
print(f"Ділення без залищків: {floor_division}")
print(f"Ділення по модулю: {modulus}")
print(f"Зведення до ступенів: {exponentiation}")

Додавання: 13.3
Віднімання: 6.7
Множення: 33.0
Ділення: 3.0303030303030303
Ділення без залищків: 3.0
Ділення по модулю: 0.10000000000000053
Зведення до ступенів: 1995.2623149688789

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [11]:
new_integer = int(my_float_value)

my_bool1= False
new_boolean1 = int(my_bool1)
my_bool2= True
new_boolean2 = int(my_bool2)

# Вивід результатів
print(f"float to int: {new_integer}")
print(f"False boolean to int: {new_boolean1}")
print(f"True boolean to int: {new_boolean2}")

float to int: 3
False boolean to int: 0
True boolean to int: 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [12]:
my_string1 = ""
print(f"Пустий рядок 1:  '{my_string1}'")

my_string2 = str()
print(f"Пустий рядок 2:  '{my_string2}'")

Пустий рядок 1:  ''
Пустий рядок 2:  ''

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [14]:
my_string3 = "обовʼязок"
raw_string = r"сирий обовʼязок"

print(my_string3)
print(raw_string)

обовʼязок
сирий обовʼязок

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [15]:
surname = "Kirik"
mention_of_surname = f"My last name is {surname}"

print(mention_of_surname)

My last name is Kirik

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [16]:
sad_truth = "My dog is crazy."
new_list = sad_truth.lower().replace(".", "").split()

print(new_list)

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [19]:
list1 = [31, 32, 33, 34, 35, 36, 37, 38]
list2 = list(range(31, 39))

print(f"Довжина першого списку: {len(list1)}")
print(f"Довжина другого списку: {len(list2)}")

Довжина першого списку: 8
Довжина другого списку: 8

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [21]:
list3 = [1, 2, 3]
list4 = [4, 5, 6]
list3.append(list4)#останнього елемента першого

print(list3)

[1, 2, 3, [4, 5, 6]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [23]:
nested_list = [[11, 20], [13, 14], [50, 60]]
first_element_of_last_row = nested_list[-1][0]#перший елемент з останнього рядка та виведи значення на екран.

print(first_element_of_last_row)

50

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [26]:
diverse_list = [False, True, 8.8, "Anna", [1,2], (67,), {9: "nine"}, {11}, "ten", 10]
upd_list = diverse_list[2:-2]

print(upd_list)

[8.8, 'Anna', [1, 2], (67,), {9: 'nine'}, {11}]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [41]:
my_tuple = (9,)
print(my_tuple)

(9,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Tuple  та List можуть зберігати багато елементів різних типів, мають підтримку вкладених елементів та індексів. Проте списки мають елементи які можуть змінюватись після створення, а кортежі - ні, тобто дані в кортежі сталі.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [45]:
my_tuple2 = (1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9, 10.10, 11.11)
only_even = my_tuple2[-2::-2]

print(only_even)

(10.1, 8.8, 6.6, 4.4, 2.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [30]:
empty_set = set()
empty_set.add(0)
empty_set.add('hi')
empty_set.add(True)

print(empty_set)

{0, 'hi', True}

Так, бо множини можна редагувати після створення

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [28]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)

print(my_set)

{1, 2, 67, 8, 9}

При перетворенні списків в множини(set), існуючі дублікати зникають, бо sets повинні зберігати тільки унікальні елементи

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [40]:
my_set1 = {10, 12, 30, 41}
my_set2 = {30, 10, 12, 90}

union = my_set1.union(my_set2)
difference = my_set1.difference(my_set2)
intersection = my_set1.intersection(my_set2)
symmetric_difference = my_set1.symmetric_difference(my_set2)

print(f"Обʼєднання: {union}")
print(f"Різниця: {difference}")
print(f"Пересіч: {intersection}")
print(f"Симетрична різниця: {symmetric_difference}")

Обʼєднання: {41, 10, 12, 90, 30}
Різниця: {41}
Пересіч: {10, 12, 30}
Симетрична різниця: {41, 90}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [32]:
my_dict = {}
my_dict[5] = "int key"
my_dict["Anna Kirik"] = "str key"
my_dict[(6,12)] = "t key"
my_dict[False] = "bool key"

print(my_dict)

{5: 'int key', 'Anna Kirik': 'str key', (6, 12): 't key', False: 'bool key'}

ключі мають бути незмінним типом даних , тому списки не підходять для цього.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [34]:
layers_of_dict = {'out': {'between': {'in': 'treasure found!'}}}
insides = layers_of_dict['out']['between']['in']

print(insides)

treasure found!

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.